week-1/people_wiki.sframe/dir_archive.ini
week-1/people_wiki.sframe/m_cf05efad0f89a530.0000
week-1/people_wiki.sframe/m_cf05efad0f89a530.frame_idx
week-1/people_wiki.sframe/m_cf05efad0f89a530.sidx
week-1/people_wiki.sframe/objects.bin
week-2/home_data.sframe/dir_archive.ini
week-2/home_data.sframe/m_1ce96d9d245ca490.0000
week-2/home_data.sframe/m_1ce96d9d245ca490.frame_idx
week-2/home_data.sframe/m_1ce96d9d245ca490.sidx
week-2/home_data.sframe/objects.bin
week-2/house_images/bill_gates.png
week-2/house_images/house1.png
week-2/house_images/house2.jpg
week-3/amazon_baby.sframe/dir_archive.ini
week-3/amazon_baby.sframe/m_bfaa91c17752f745.0000
week-3/amazon_baby.sframe/m_bfaa91c17752f745.frame_idx
week-3/amazon_baby.sframe/m_bfaa91c17752f745.sidx
week-3/amazon_baby.sframe/objects.bin
week-2/home_data.csv
week-1/people-wiki.csv
week-3/amazon_baby.csv
